# Ignore the compile files
target/classes

# Ignore text files
*.txt

# Ignore image folder
/src/main/java/factory/images/

# Ignore the test classes
target/test-classes/factory/AppTest.class

# Ignore the DS_Store
.DS_Store

# Ignore the vscode folder
.vscode

# Ignore all generated pdf
*.pdf